# Entorno virtual
venv/

# Archivos de configuración y caché de Python
*.pyc
*.pyo
__pycache__/

# Configuración específica del entorno
.env

# Archivos de bases de datos locales
*.db

# Archivos generados por herramientas de desarrollo
.DS_Store
*.log

# Archivos y carpetas de herramientas de desarrollo (IDE)
.vscode/
.idea/